<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>

      <!--********************************** Calc Service ********************************** -->
      <service name="VilbsLib.StationService" behaviorConfiguration="StationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9011/StationService"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="wsDualHttpBinding" contract="VilbsLib.IStationService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <!-- ********************************** behaviors ********************************** -->
    <behaviors>
      <serviceBehaviors>
        <!-- StationService Behavior -->
        <behavior name="StationServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true "/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>



